@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.main {
  overflow-x: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;
}

.section__title {
  font-weight: 900;
  font-size: 66px;
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  .section__title {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.section__title span {
  color: #E30613;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #E30613;
}
.header__content {
  height: 137px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__content {
    height: auto;
    padding: 25px 0;
    flex-direction: column;
    gap: 16px;
  }
}
.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__left span {
  display: block;
  width: 1px;
  height: 39px;
  background: #fff;
}
@media (max-width: 768px) {
  .header__left span {
    height: 18px;
  }
}
@media (max-width: 768px) {
  .header__left .oil-logo {
    height: 26px;
  }
}
@media (max-width: 768px) {
  .header__left img {
    height: 18px;
  }
}
.header__nav {
  display: flex;
  gap: 18px;
}
@media (max-width: 768px) {
  .header__nav {
    width: 100%;
  }
}
.header__nav a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .header__nav a {
    width: 100%;
    text-align: center;
    font-size: 10px;
  }
}

.hero-banner {
  background: linear-gradient(137.48deg, #CBC1FF 14.44%, #C7AAFF 80.85%);
  padding: 60px 0 109px;
  margin-bottom: 71px;
}
@media (max-width: 768px) {
  .hero-banner {
    padding: 40px 0;
    margin-bottom: 30px;
    text-align: center;
  }
}
.hero-banner__content {
  display: flex;
}
@media (max-width: 768px) {
  .hero-banner__content {
    flex-direction: column;
    align-items: center;
  }
}
.hero-banner__title {
  display: flex;
  flex-direction: column;
  line-height: 100%;
  font-weight: 900;
  font-size: 104px;
  margin-bottom: 26px;
}
@media (max-width: 768px) {
  .hero-banner__title {
    font-size: 34px;
    margin-bottom: 20px;
  }
}
.hero-banner__text {
  max-width: 825px;
  line-height: 100%;
  font-size: 60px;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .hero-banner__text {
    max-width: 247px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.hero-banner__desc {
  font-size: 28px;
}
@media (max-width: 768px) {
  .hero-banner__desc {
    font-size: 10px;
    margin-bottom: 20px;
  }
}
.hero-banner__image {
  height: 516px;
  position: absolute;
  right: 0;
}
@media (max-width: 768px) {
  .hero-banner__image {
    position: relative;
    width: 281px;
    height: 183px;
  }
}

.participate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  .participate {
    margin-bottom: 30px;
  }
}
.participate__title span {
  color: #E30613;
  margin-bottom: 8px;
}
.participate__container {
  display: flex;
  gap: 26px;
}
@media (max-width: 768px) {
  .participate__container {
    flex-direction: column;
    gap: 14px;
  }
}
.participate__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #E4E4E4;
  padding: 33px 14px 0;
}
@media (max-width: 768px) {
  .participate__item {
    max-width: 255px;
    padding: 28px 10px 0;
  }
}
.participate__item:nth-child(2) img {
  width: 209px;
  height: 209px;
  margin-bottom: 0;
}
.participate__item:nth-child(3) img {
  margin-bottom: 0;
}
.participate__item:nth-child(4) img {
  width: 249px;
  margin-bottom: 0;
}
.participate__item:nth-child(5) img {
  width: 191px;
  height: 191px;
  margin-bottom: 0;
}
.participate__item-title {
  font-size: 28px;
  color: #E30613;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .participate__item-title {
    font-size: 24px;
  }
}
.participate__item-text {
  font-size: 28px;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .participate__item-text {
    font-size: 24px;
  }
}
.participate__item img {
  margin-top: auto;
  margin-bottom: 13px;
  width: 176px;
  height: 176px;
  object-fit: cover;
}

.prizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 93px;
}
@media (max-width: 768px) {
  .prizes {
    margin-bottom: 30px;
  }
}
.prizes__title {
  margin-bottom: 63px;
}
@media (max-width: 768px) {
  .prizes__title {
    margin-bottom: 30px;
  }
}
.prizes__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px 150px;
}
@media (max-width: 768px) {
  .prizes__container {
    flex-direction: column;
    gap: 35px;
  }
}
.prizes__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .prizes__item:first-child p {
    max-width: 130px;
  }
}
.prizes__item:nth-child(2) img, .prizes__item:nth-child(3) img {
  margin: 46px 0 50px;
}
@media (max-width: 768px) {
  .prizes__item:nth-child(2) img, .prizes__item:nth-child(3) img {
    height: 65px;
    margin: 0 0 21px;
  }
}
.prizes__item:nth-child(4) img, .prizes__item:nth-child(5) img {
  margin: 0 0 9px;
}
@media (max-width: 768px) {
  .prizes__item:nth-child(4) img, .prizes__item:nth-child(5) img {
    width: 130px;
    height: 130px;
    margin: 0;
  }
}
.prizes__item img {
  margin-bottom: 33px;
}
@media (max-width: 768px) {
  .prizes__item img {
    height: 105px;
    margin-bottom: 12px;
  }
}
.prizes__item p {
  max-width: 311px;
  text-align: center;
  font-weight: 500;
  font-size: 34px;
}
@media (max-width: 768px) {
  .prizes__item p {
    font-size: 18px;
  }
}

.subscribe {
  margin-bottom: 86px;
}
@media (max-width: 768px) {
  .subscribe {
    margin-bottom: 30px;
  }
}
.subscribe__title {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.subscribe__content {
  padding: 115px 52px 52px 104px;
  background: linear-gradient(144.07deg, #000000 16.94%, #190F29 52.12%, #2E1E48 93.1%, #372850 112.8%);
}
@media (max-width: 768px) {
  .subscribe__content {
    padding: 16px;
    margin: 0 -16px;
  }
}
.subscribe__desc {
  margin-top: 64px;
  font-size: 18px;
  color: #fff;
}
@media (max-width: 768px) {
  .subscribe__desc {
    margin-top: 32px;
    font-size: 10px;
  }
}
.subscribe__item {
  display: flex;
  gap: 24px;
  color: #fff;
}
@media (max-width: 768px) {
  .subscribe__item {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .subscribe__item img {
    width: 193px;
  }
}
.subscribe__item-title {
  font-weight: 700;
  font-size: 66px;
}
@media (max-width: 768px) {
  .subscribe__item-title {
    font-size: 30px;
    margin-bottom: 12px;
  }
}
.subscribe__item-text {
  font-size: 34px;
}
@media (max-width: 768px) {
  .subscribe__item-text {
    font-size: 18px;
  }
}

.winners {
  scroll-margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}
.winners__content {
  width: 100%;
  padding: 50px 0;
  background-image: url("../img/feedback-background.png");
}
.winners__content-title {
  font-size: 34px;
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  .winners__content-title {
    font-size: 14px;
  }
}

.draw-winners {
  position: relative;
  max-width: 1047px;
  margin: 0 auto 50px;
  display: flex;
}
@media (max-width: 768px) {
  .draw-winners {
    margin: 0 auto 88px;
    justify-content: center;
  }
}
.draw-winners__content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.draw-winners__title {
  font-weight: 900;
  font-size: 88px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .draw-winners__title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 21px;
  }
}
.draw-winners__text {
  font-size: 34px;
}
@media (max-width: 768px) {
  .draw-winners__text {
    max-width: 160px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
  }
}
.draw-winners__image-left {
  left: -25px;
}
@media (min-width: 768px) {
  .draw-winners__image-left {
    display: none;
  }
}
.draw-winners__image-right {
  right: -25px;
  bottom: -50px;
}
@media (max-width: 768px) {
  .draw-winners__image-left, .draw-winners__image-right {
    position: absolute;
    width: 124px;
    height: 124px;
  }
}

.faq {
  scroll-margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  .faq {
    margin-bottom: 30px;
  }
}
.faq__container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
@media (max-width: 768px) {
  .faq__container {
    gap: 9px;
  }
}
.faq__item {
  display: flex;
  flex-direction: column;
  background: #E4E4E4;
  padding: 56px 104px 60px;
}
@media (max-width: 768px) {
  .faq__item {
    padding: 12px;
  }
}
.faq__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.faq__item-title {
  font-size: 34px;
  font-weight: 900;
}
@media (max-width: 768px) {
  .faq__item-title {
    font-size: 18px;
    font-weight: 700;
  }
}
.faq__item-arrow {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
  transition: transform 0.3s;
}
@media (max-width: 768px) {
  .faq__item-arrow {
    width: 14px;
    height: 14px;
  }
  .faq__item-arrow svg {
    width: 8px;
  }
}
.faq__item-text {
  font-size: 18px;
  margin-right: 48px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}
@media (max-width: 768px) {
  .faq__item-text {
    font-size: 10px;
    margin-right: 0;
  }
}
.faq__item.is-open {
  gap: 20px;
}
@media (max-width: 768px) {
  .faq__item.is-open {
    gap: 8px;
  }
}
.faq__item.is-open .faq__item-arrow {
  background: #E30613;
  transform: rotate(180deg);
}
.faq__item.is-open .faq__item-arrow svg path {
  stroke: #fff;
}
.faq__item.is-open-text {
  max-height: 500px;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 241px;
}
@media (max-width: 768px) {
  .feedback {
    margin-bottom: 150px;
  }
}
.feedback__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1062px;
  width: 100%;
  background-image: url("../img/feedback-background.png");
  padding: 207px 15px 156px;
  margin-bottom: 90px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .feedback__content {
    width: -webkit-fill-available;
    padding: 30px 15px 44px;
    margin: 0 -16px 38px;
  }
}
.feedback__content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 34px;
  color: #fff;
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .feedback__content-title {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.feedback__content a {
  text-decoration: none;
}
.feedback__content-btn {
  width: 531px;
  height: 66px;
  font-size: 32px;
  font-weight: 500;
  color: #E30613;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .feedback__content-btn {
    width: 184px;
    height: 54px;
    font-size: 16px;
    font-weight: 700;
  }
}
.feedback__text {
  font-size: 18px;
}
.feedback__text a {
  color: #000;
}
@media (max-width: 768px) {
  .feedback__text {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
